<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>呦西推荐</title>
<link rel="dns-prefetch" href="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="日本,购物,日货,彩妆" />
<meta name="description" content="呦西推荐" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<link rel="stylesheet" href="<%=cdn_domain%>/static/css/sm/sm.min.css">
<link rel="stylesheet" href="<%=cdn_domain%>/static/css/shop/shop.css">
</head>

<div class="page-group">
  <div id="page-action" class="page page-current" style="background:#fff;">
      <nav class="bar bar-tab top_nav">
        <a class="tab-item right_line" href="./">
            <span class="icon iconfont">&#xe602;</span>
              <span class="tab-label">首页</span>
          </a>
          <a class="tab-item active" href="helper.html">
            <span class="icon iconfont">&#xe623;</span>
              <span class="tab-label">客服</span>
           </a>
      </nav>
      <div class="content">

          <div class="helper_box">
              <p class="helper_til"><strong>联系客服</strong></p>
              <p class="helper_q"><i class="iconfont">&#xe622;</i> <strong>怎么联系客服？</strong></p>
              <p class="helper_a">长按下方二维码关注东瀛游购服务台(呦西推荐客服号)，就可以随时为您服务啦！<br>
              客服在线时间：周一至周日 9:00-18:00<br>
              其他时间请您自助下单，如有问题请留言，我们看到后会第一时间给您回复！</p>
              <div class="helper_logo">
                  <dl>
                      <dt><strong>呦西推荐 客服平台</strong></dt>
                      <dd>微信公众号：东瀛游购服务台</dd>
                  </dl>
              </div>
              <p class="helper_qrcode"><img src="<%=cdn_domain%>/static/images/my/qrcode.jpg"></p>
              <p class="helper_word">长按识别上方二维码图案</p>
          </div>
      </div>
  </div>
</div>
</body>
</html>
