<%var cdn_domain=think.config().cdn_domain_prefix+think.config().cdn_domain%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>呦西推荐</title>
<link rel="dns-prefetch" href="">
<link rel="dns-prefetch" href="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="日本,购物,日货,彩妆" />
<meta name="description" content="呦西推荐" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

</head>
<body>
sdfdsf
<script type="text/javascript">
  console.log("请看颜色 %c 绿色","color:green");
  console.log("请看颜色 %c 红色","color:red");
  console.log("请看颜色 %c 黄色","color:yellow");
  console.log("请看颜色 %c 紫色","color:purple");
</script>
</body>
</html>
