<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>搜索</title>
    <link rel="dns-prefetch" href="<%=cdn_differ_domain%>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="日本,购物,日货,彩妆" />
    <meta name="description" content="札幌药妆" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="<%=cdn_differ_domain%>/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="<%=cdn_differ_domain%>/static/css/site.css">
</head>
<body>
<div class="warp">
    <% var nav_active_index='index';%>
    <% include ../index_nav.html%>
    <div class="content">
        <form  method="GET">
        <div class="brand_search">
            <a href="/"><span class="back iconfont">&#xe639;</span></a>
            <div class="search-box"><input type="search" id='search' name="k" placeholder='输入商品名称' required /></div>
            <span class="search iconfont">&#xe62b;</span>
        </div>
            </form>
        <!--start 排行-->
        <div class="shop_com my_con">
            <%data.forEach(function(item){%>
            <table class="my_shop_tab">

                <tr>
                    <th rowspan="3" class="shop_img">
                        <a href="/cmdt/detail/index?cmdt_id=<%=item.cmdt_id%>&sku_id=<%=item.id%>"><img src="<%=cdn_domain%>/static/images/lazyload_gray.png"  data-url="<%=cdn_domain%><%=item.pic_url%>" alt=""></a>
                        <%if(item.available==0){%>
                        <i class="sold_out">已售罄</i>
                        <%}%>
                    </th>
                    <td colspan="2" class="shop_til"><a href="/cmdt/detail/index?cmdt_id=<%=item.cmdt_id%>&sku_id=<%=item.id%>">
                        <span class="yellow"><%=item.cmdt_name%></span><span class="light_black"><%=item.name%></span></a></td>
                </tr>
                <tr>
                    <td>价格：<span class="yellow"><%=item.price%>円 (约 <%=item.rmb_price%>元)</span> </td>

                </tr>
                <tr>
                    <td>重量：<%=item.weight*1000%>g
                        <%if(item.is_baoyou){%>
                        <div class="category bg_pink">包邮</div>
                        <%}%>
                    </td>
                    <td><div class="btn_cart"><span class="iconfont">&#xe62f;</span> 购物车</div></td>
                </tr>
            </table>
            <%})%>


        </div>
        <%if(data&&data.length>0){%>
        <div class="infinite-scroll-preloader">
            <div class="preloader">加载更多 ...</span>
            </div>
        </div>
        <!--end 加载提示符 -->
        <!--start 加载提示符 -->
        <div id="no_more" style="display:none;text-align:center;font-size:14px;color:gray;margin:5px auto">
            <div >没有更多商品了</span>
            </div>
        </div>
        <!--end 加载提示符 -->
        <%}else{%>
        <div class="content">

            <!--start 排行-->
            <div class="shop_com my_con">
                <div class="no_info">
                    <span><img src="static/img/search_logo.png" style="width:80%;"></span><br>
                    <span>没有找到相关商品<br>去商场看看吧</span>
                </div>

            </div>
            <!--end 排行-->
        </div>
        <%}%>

        <!--end 排行-->
        <a id="go-to-top">
            <span class="iconfont">&#xe623;</span><br>
            TOP
        </a>
    </div>
</div>
<script type='text/javascript' src="<%=cdn_domain%>/static/js/jquery/jquery-2.2.0.min.js" charset='utf-8'></script>
<script type="text/javascript" src="<%=cdn_differ_domain%>/static/js/list/list.js"></script>
</body>
</html>
