<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>未支付订单｜呦西推荐</title>
    <link rel="dns-prefetch" href="//wstatic.paduola.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="我的,日本,购物,日货,彩妆,呦西推荐"/>
    <meta name="description" content="我的页面，更多正品日货尽在呦西推荐"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <link rel="shortcut icon" href="<%=cdn_differ_domain%>/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <%include ../common_css_resource.html%>
</head>
<body>
<div class="page-group">
    <div id="page-action" class="page page-current">
        <%var nav_active_index='me';%>
        <%include ../index_nav.html%>
        <div class="content">
            <div class="my_box">
                <!--start my header-->
                <%include ./user_info_area.html%>
                <!--end my header-->
                <!--start my content-->
                <div class="buttons-tab">
                    <a href='/user/order/index' class=" active button">订单管理</a>
                    <!-- <a href="/user/coupon/index" class="button">卡券管理</a>-->
                    <a href="/user/favorite/index" class="button">我的收藏</a>
                    <a href="/user/article/collections" class="button">我的测评</a>
                    <a href="/user/address/index" class="button">地址管理</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div class="tab active">
                            <div class="content-block">
                                <div class="buttons-row">
                                    <a href="/user/order/index" class="active button">待付款</a>
                                    <a href="/user/order/tosent" class="button">待发货</a>
                                    <a href="/user/order/hassent" class="button">已发货</a>
                                    <a href="/user/order/returned" class="button">退款单</a>
                                </div>
                                <div class="tabs">
                                    <!--start 待付款-->
                                    <div class='tab active cart_box' id='tab1-1'>
                                        <!--start 订单1-->
                                        <%order.forEach(function(item){%>
                                        <div class="my_con">
                                            <div class="cart_con">
                                                <table class="cart_tab">
                                                    <tr>
                                                        <td>订单编号：<span><%=item.order_num%></span></td>
                                                        <td class="text_r"><%=item.createdat%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            失效时间：<span><%=item.expire_time%></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="cart_con">
                                                <%item.cmdts.forEach(function(cmdt){%>
                                                <table class="cart_tab">
                                                    <tr>
                                                        <td width="30%" rowspan="2">
                                                            <div class="shop_img"><img
                                                                    src="<%=cdn_domain%><%=cmdt.pic_url?cmdt.pic_url.split(',')[0]:'/static/images/none.jpg'%>"
                                                                    onclick="location='/cmdt/detail/index?channel_id=<%=cmdt.sc_id%>&cmdt_id=<%=cmdt.cmdt_id%>&sku_id=<%=cmdt.sku_id%>'">
                                                            </div>
                                                        </td>
                                                        <th colspan="2">
                                                            <div class="shop_til"
                                                                 onclick="location='/cmdt/detail/index?cmdt_id=<%=cmdt.cmdt_id%>&sku_id=<%=cmdt.sku_id%>'">
                                                                <%=cmdt.cmdt_name%>&nbsp;<%=cmdt.name%>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>¥<%=cmdt.single_price%></td>
                                                        <td class="text_r">x<%=cmdt.amount%></td>
                                                    </tr>
                                                </table>
                                                <%})%>
                                            </div>
                                            <div class="cart_con">
                                                <table class="cart_tab">
                                                    <tr>
                                                        <td class="text_r">共<%=item.cmdt_count%>件商品　应付 <span
                                                                class="pink font_8">¥<%=item.should_pay_money%></span>（含运费
                                                            ¥<%=item.post_fee>0?item.post_fee+'':'0.00'%>）
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="cart_con">
                                                <div class="btn_dele" onclick="delOrder(this,'<%=item.order_num%>')">
                                                    取消订单
                                                </div>
                                                <%if(!item.is_expired){%>
                                                <div class="btn_edit"
                                                     onclick="location='/paypages/pay/index?order_num=<%=item.order_num%>'">
                                                    立即支付
                                                </div>
                                                <%}else{%>
                                                <span class="good_expired">订单已过期</span>
                                                <%}%>
                                            </div>
                                        </div>
                                        <%})%>

                                        <%if(order.length==0){%>
                                        <div class="my_add">
                                            <span class="iconfont">&#xe61b;</span><br>
                                            <span class="shop_grey">暂无订单</span>
                                        </div>
                                        <%}%>
                                        <!--end 订单1-->
                                    </div>
                                    <!--end 待付款-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end my content-->
            </div>
        </div>
        <!--end content-->
    </div>

    <%include ../common_js_recource.html%>
    <script type='text/javascript' src="<%=cdn_domain%>/static/js/shop/my_order.js?v=2" charset='utf-8'></script>
</body>
</html>
