<div class="my_header">
      <table class="my_tab">
          <tr>
            <td width="70 "><img src="<%=user.headimgurl==null||user.headimgurl.length==0?cdn_domain+'/static/images/lazyload_gray.png':user.headimgurl%>"></td>
            <td><span class="font_9"><%=user.nickname==null||user.nickname.length==0?'请关注公众号':user.nickname%></span><br>
              <!-- <span class="shop_grey font_6">V0 普通会员</span></td> -->
              <!--<td class="text_r"><a href="#">账户管理 &gt;&gt;</a></td>-->
           </tr>
       </table>
  </div>
