
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>内容已被删除｜呦西推荐</title>
    <link rel="dns-prefetch" href="//wstatic.paduola.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="内容已被删除,日本,购物,日货,彩妆"/>
    <meta name="description" content="内容已被删除，更多正品日货尽在呦西推荐"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <link rel="shortcut icon" href="<%=cdn_differ_domain%>/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <%include ../common_css_resource.html%>
</head>
<body>
<div class="page-group">
    <div id="page-action" class="page page-current">
        <div class="content">
            <!--satrt ok con-->
            <div class="ok_con">
                <div class="ok_box">
                    <span class="icon iconfont shop_grey">&#xe62f;</span>
                    <p class="ok_text">对不起，该内容已被发布者删除</p>
                </div>
            </div>
            <!--end ok con-->
        </div>
    </div>
</div>
</body>
</html>
