<div class="box-body">
    <table class="table table-bordered">
        <thead class="head-no-border">
        <tr data-order="<%=order%>">
            <th class="col-md-7.5 text-align-center">订单详情</th>
            <th class="col-md-1.5 text-align-center">金额</th>
            <th class="col-md-1.5 text-align-center">备注及原因</th>
            <th class="col-md-1 text-align-center">证明图片</th>
            <th class="col-md-1 text-align-center">操作</th>
        </tr>
        </thead>

        <%orders.forEach(function(item){%>
        <tbody>
        <tr class="spcace-line">
            <td colspan="5"></td>
        </tr>
        <tr class="th-head">
            <th colspan="5">
                <span class="no-solid">申请时间:</span><span><%=item.apply_time%></span>
                <span class="no-solid">订单号:</span><span><%=item.order_num%></span>
                <span class="no-solid">商品总数:</span><span><%=item.cmdt_count%></span>
                <span class="solid-space-left">
                    <%if(item.is_sent){%>
                        已发货
                    <%}else{%>
                        未发货
                    <%}%>
                </span>
                <!--<span><%=item.order_state%></span>-->
                <%if(item.is_returned){%>
                <span class="no-solid text-green">退款时间:</span><span><%=item.return_time%></span>
                <%}%>
            </th>
        </tr>

        <tr>
            <td>
            </td>

            <td rowspan="10" style="width: 134px;">
                <div style=" margin: 0 auto;">
                    <span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:
                            <span class="text-black"><%=item.post_fee%></span>
                    </span><br>
                    <span>订单总额:
                            <span class="text-green"><%=item.sum_money%></span>
                    </span><br>
                    <span>已付金额:
                            <span class="text-green"><%=item.payed_money%></span>
                    </span><br>
                    <span>退款金额:
                        <span class="text-danger"><%=item.return_money%></span>
                    </span>
                </div>
            </td>

            <td rowspan="10" style="width: 100px;">
                <div class="desc">
                    <%if(item.customerdesc!==null&&item.customerdesc.length!=0){%>
                    <div><span class="label label-info">客户</span>:<%=item.customerdesc%>
                    </div>
                    <%if(item.desc!==null&&item.desc.length!=0){%>
                    <div><span class="label label-info">客服</span>:<%=item.desc%></div>
                    <%}%>
                    <%}else if(item.desc!==null&&item.desc.length!=0){%>
                    <div><span class="label label-info">客服</span>:<%=item.desc%></div>
                    <%}%>
                </div>
            </td>
            <td rowspan="10">
                <div><img src="<%=cdn_domain%><%=item.return_pic_url%>" class="brand-img"/></div>
            </td>
            <td rowspan="10" class="text-align-center">
				<a href="javascript:pay_back('<%=item.order_id%>','<%=item.order_num%>')" title="退款">退款</a>
                <%if(!item.is_approved){%>
                <a href="javascript:agree('<%=item.order_id%>')" title="同意并归还库存">同意</a>&nbsp;|&nbsp;<a
                    href="javascript:disagree('<%=item.order_id%>')" title="撤销退款申请">撤销</a>
                <%}else if(item.is_approved){%>
                <%if(item.is_returned==false){%>
                <a href="javascript:pay_back('<%=item.order_id%>','<%=item.order_num%>')" title="退款">退款</a>
                <%}else if(item.is_returned==true){%>
                <a href="javascript:get_pay_back_info('<%=item.order_id%>','<%=item.order_num%>')" title="退款信息">退款信息</a>
                <%}%>
                <%}%>
            </td>
        </tr>
        <%item.cmdts.forEach(function(cmdt){%>
        <tr>
            <td>
                <div>
                    <div class="good-img">
                        <%if(cmdt.pic_url){%>
                        <%var url = cmdt.pic_url.split(',')[0]%>
                        <img src="<%=cdn_differ_domain%><%=url%>" class="brand-img"/>
                        <%}%>
                    </div>
										<!-- zhangyuan -->
										<div class="good-bar-code" title="<%=cmdt.bar_code%>"> <%=cmdt.bar_code%></div>
										<!-- end -->
                    <div class="good-name" title="<%=cmdt.name%>"> <%=cmdt.cmdt_name%> <%=cmdt.name%></div>
                </div>
                <div class="good-price">￥<%=cmdt.single_price%></div>
                <div class="good-nums">x<span class="text-danger text-bold"><%=cmdt.amount%></span></div>
            </td>
        </tr>

        <%})%>
        <td style="text-align:left">
            <div class="consignee-address">
                <%if(item.is_sent){%>
                <div>
                    <div style="width: 180px;float: left;">
                        快递单号:&nbsp;<span class="text-black"><%=item.express_no%></span>
                    </div>
                    <span class="text-black">发货时间:&nbsp;<%=item.sendtime%></span>
                </div>
                <%}%>
                <div>
                    <div style="width: 180px;float: left;">
                        退款方式:<span class="text-danger"><%=item.return_way%></span>
                    </div>
                    退款账户:<span class="text-danger"><%=item.return_account%></span>
                    <%if(item.is_approved){%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="text-green">同意时间:&nbsp;<%=item.approve_time%></span>
                    <%}%>
                </div>
                <div><i class="fa fa-user text-blue" aria-hidden="true"></i>&nbsp;
                    <%=item.recipient_name%>&nbsp;&nbsp;
                    <%=item.phone%>&nbsp;&nbsp;
                    <%=item.str_addr%>
                </div>
            </div>
        </td>

        </tbody>
        <%})%>
    </table>
</div>
<!-- /.box-body -->
<div class="box-footer">
    <div class="pull-left">

    </div>
    <div class="pull-right">
        <%include ../pagination.html%>
    </div>
</div>
