<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的收藏｜北海道土産探検隊</title>
    <link rel="dns-prefetch" href="<%=cdn_domain%>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="我的,日本,购物,日货,彩妆,北海道土産探検隊"/>
    <meta name="description" content="我的页面，更多正品日货尽在北海道土産探検隊"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="<%=cdn_differ_domain%>/static/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <%include ../common_css_resource.html%>
</head>
<body>
<div class="page-group">
    <div id="page-action" class="page page-current">
        <%var nav_active_index='me';%>
        <%include ../index_nav.html%>
        <div class="content">
            <div class="my_box">
                <!--start my header-->
                <%include ./user_info_area.html%>
                <!--end my header-->
                <!--start my content-->
                <div class="buttons-tab">
                    <a href='/user/order/index' class="button">订单管理</a>
                    <!-- <a href="/user/coupon/index" class="button">卡券管理</a>-->
                    <a href="/user/favorite/index" class="button active">我的收藏</a>
                    <a href="/user/article/collections" class="button">我的测评</a>
                    <a href="/user/address/index" class="button">地址管理</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div class="tab active">
                            <div class="content-block">
                                <div class="tabs">
                                    <div class='tab active cart_box'>
                                        <div class="my_con">
                                            <%data.forEach(function(item){%>
                                            <div class="cart_con" data-id='<%=item.id%>'>
                                                <table class="cart_tab">
                                                    <tr>
                                                        <td width="30%" rowspan="3">
                                                            <a href="/cmdt/detail/index?cmdt_id=<%=item.cmdt_id%>&sku_id=<%=item.sku_id%>">
                                                                <div class="shop_img"><img
                                                                        src="<%=cdn_differ_domain%><%=item.pic_url?item.pic_url.split(',')[0]:'/static/images/none.jpg'%>"
                                                                        alt=""></div>
                                                            </a></td>
                                                        <td colspan="2"
                                                            onclick="location='/cmdt/detail/index?channel_id=<%=item.sell_channel_id%>&cmdt_id=<%=item.cmdt_id%>&sku_id=<%=item.sku_id%>'">
                                                            <div class="shop_til"><%=item.cmdt_name%>&nbsp;<%=item.name%></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pink font_8">¥<%=item.price%>円</td>
                                                        <td class="text_r">
                                                            <div class="btn_dele" onclick="deleteFa(this)">删除</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <%})%>


                                        </div>
                                        <%if(data.length==0){%>
                                        <div class="my_add">
                                            <span class="iconfont">&#xe612;</span><br>
                                            <span class="shop_grey">暂无收藏</span>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end my content-->
            </div>
        </div>
        <!--end content-->
    </div>
</div>
<%include ../common_js_recource.html%>
<script type='text/javascript' src="<%=cdn_domain%>/static/js/shop/my_fa.js" charset='utf-8'></script>

</body>
</html>
