<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reed</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="<%=cdn_domain%>/static/js/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="<%=cdn_domain%>/static/css/adminlte/adminlte.min.css">
    <link rel="stylesheet" href="<%=cdn_domain%>/static/css/adminlte/skins/skin-green.min.css">
    <link rel="stylesheet" href="<%=cdn_domain%>/static/css/bootstrap-notify/bootstrap-notify.css">
    <link rel="stylesheet" href="<%=cdn_domain%>/static/css/app/portal.css">


    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="<%=cdn_domain%>/static/js/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="<%=cdn_domain%>/static/js/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="<%=cdn_domain%>/static/js/jquery-form/jquery.form.min.js"></script>
    <script src="<%=cdn_domain%>/static/js/app/app.js"></script>
    <script src="<%=cdn_domain%>/static/js/app/util.js"></script>
    <script type="text/javascript">

        function search(param) {

//            var order_num = $("#order_num").val().trim();
//            if (order_num && order_num.length > 0) {
//                ajax.addParam({order_num: order_num});
//            } else {
//                ajax.removeParam('order_num');
//            }

            var page = $("#__pagination_page_index").val() || $(".pagination > li.current").data("id");
            console.log(page);
            if (page) {
                ajax.addParam({page: page});
            }
            if (param && typeof param == 'object') {
                ajax.addParam(param);
            }

            ajax.refresh();
        }

        function modify(v) {
            $.get("/article/category/update", {category_id: v}, function (r) {
                $("#modal").html(r).modal('show');
            }, 'html');
        }

        function add() {
            $.get("/article/category/insert", function (r) {
                $("#modal").html(r).modal('show');
            }, 'html');
        }
        function del(v) {
            $.get("/article/category/delete", {category_id: v}, function (r) {
                $("#modal").html(r).modal('show');
            }, 'html');
        }
        var ajax;
        $(function () {
            ajax = $.Reed.router.ajax();
            ajax.init('/article/category/table', '#bodyAndFooter');
        });
    </script>
</head>

<body class="skin-green fixed">
<div class='notifications top-right'></div>
<div class="content-container">
    <div id="cmdt_html">
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <div class="pull-left form-inline">
                        <div class="control-group">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="add()"><i class="fa fa-plus"></i> 新增
                        </button>
                    </div>
                </div>
                <div id="bodyAndFooter">
                    <%include ./category_table.html%>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                    </div>
                </div>
            </div>

        </section>
    </div>
    <div id="cmdt_pro_html"></div>
</div>

<div class="modal" role="dialog" id="modal" tabindex="-1"></div>
</body>

</html>
