<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%=sale.name%> ｜呦西推荐</title>
<link rel="dns-prefetch" href="<%=cdn_domain%>">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="全部零食,日本,购物,日货,彩妆,呦西推荐" />
<meta name="description" content="全部零食页面，更多正品日货尽在呦西推荐" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<%include ../common_css_resource.html%>
</head>
<body>
    <input type="hidden" name="id" id="id" value="<%=id%>">
<div class="page-group">
    <div id="page-action" class="page page-current">

            <!--start list_box-->
        	<div class="list_box">
            	<div class="list_conbox article_bg">
                    <div class="list_til font_9">
                      <%=sale.name%>
                    </div>
                </div>

            </div>
            <a href="/" class="backtop">
                <span class="iconfont">&#xe602;</span>
            </a>
             <a href="/cmdt/shopcart/index" class="cart" style="width:40px;padding-left:12px">
                <span class="iconfont">&#xe609;</span>
                <span class="badge" id="cartAmount" >0</span>
            </a>
            <!--end list_box-->
            <div class="content">
            <!--start tag_box-->
			<%if(sale.comment&&sale.comment.length>0){%>
				<div class="tag_box font_7">
	              <%=sale.comment%>
	            </div>
			<%}%>

            <!--end tag_box-->
            <div class="infinite-scroll" >
              <div id="cmdt_container">
                <!--start listcon-->
                <%cmdts.forEach(function(item){%>
                  <div class="listcon">
                    <div class="list_con">
                          <div class="shop_left" onclick="location='/cmdt/detail/index?sku_id=<%=item.id%>'">
                            <img class="lazy-load" src="<%=cdn_domain%>/static/images/lazyload_gray.png" data-url="<%=cdn_domain%><%=item.pic_url%>" alt="">
                            <%if(item.available==0){%>
                              <i class="sold_out">已售罄</i>
                            <%}%>
                          </div>
                          <div class="shop_right" onclick="location='/cmdt/detail/index?sku_id=<%=item.id%>'">
                              <div class="shop_til" ><%=item.cmdt_name%>&nbsp;<%=item.name%></div>
                              <div class="shop_price fl_l" style="padding:0.1rem 0 0 0;">¥<%=item.price%></div>
                              <%if(item.is_baoyou){%>
                              <div class="category bg_pink">包邮</div>
                              <%}%>

                              <%if(item.available>0){%>
                                <a href="javascript:;" onclick="bindAddCart(this)" class="cart_btn" data-stock='<%=item.available%>' data-skuid='<%=item.id%>' data-cmdtid='<%=item.cmdt_id%>'>
                                    + 购物车
                                </a>
                              <%}%>
                          </div>
                      </div>
                  </div>
                <%})%>
              </div>
              <%if(cmdts.length==0){%>
                <div id="no_data" style="text-align:center;font-size:14px;color:gray;margin:5px auto">
                  <div >该分类下暂无商品</span>
                  </div>
                </div>
              <%}else{%>
                <!--start 加载提示符 -->
                <div class="infinite-scroll-preloader">
                  <div class="preloader">加载更多 ...</span>
                  </div>
                </div>
                <!--end 加载提示符 -->
                <!--start 加载提示符 -->
                <div id="no_more" style="display:none;text-align:center;font-size:14px;color:gray;margin:5px auto">
                  <div >没有更多商品了</span>
                  </div>
                </div>
                <!--end 加载提示符 -->
              <%}%>

            </div>
        </div>
    </div>
</div>
<a href="javascript:pagetop()" id="go-to-top">
    <span class="icon icon-up"></span><br>
    TOP
</a>
<script type="text/template" id="cmdt_tmpl">
  <div class="listcon">
    <div class="list_con">
          <div class="shop_left" onclick="location='/cmdt/detail/index?sku_id={{id}}'">
            <img src="<%=cdn_domain%>{{pic_url}}" alt="">
            {{^available}}
              <i class="sold_out">已售罄</i>
            {{/available}}
          </div>
          <div class="shop_right" onclick="location='/cmdt/detail/index?sku_id={{id}}'">
              <div class="shop_til" >{{cmdt_name}} {{name}}</div>
              <div class="shop_price fl_l" style="padding:0.1rem 0 0 0;">¥{{price}}</div>
              {{#is_baoyou}}
              <div class="category bg_pink">包邮</div>
              {{/is_baoyou}}

              {{#available}}
              <a href="javascript:;" onclick="bindAddCart(this)" class="cart_btn" data-stock='{{available}}' data-skuid='{{id}}' data-cmdtid='{{cmdt_id}}' >
                  + 购物车
              </a>
              {{/available}}
          </div>
      </div>
  </div>
</script>
<%include ../common_js_recource.html%>
<script type="text/javascript">
$('.lazy-load').imglazyload({
            container: '.content',
            innerScroll: true,
            threshold:300
        });
</script>
<script type='text/javascript' src='<%=cdn_domain%>/static/js/mustache/mustache.min.js' charset='utf-8'></script>
<script type='text/javascript' src='<%=cdn_domain%>/static/js/shop/sale.js?v=6' charset='utf-8'></script>
</body>
</html>
