<div class="modal-dialog ">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">修改</h4>
    </div>
    <form role="form" method="post" action="/sale/discount/update" onsubmit="return ajax.submit(this,__hideAndSearch)">
      <input type="hidden"  name="id" value="<%=discount.id%>">
      <div class="modal-body">
        <div class="form-group input-group">
          <span class="input-group-addon">方案名</span>
          <input type="text" class="form-control"  name="name" required value="<%=discount.name%>" />
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon">折扣值</span>
          <input type="number" class="form-control"  name="discount_value" step="0.01" required value="<%=discount.discount_value%>"/>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group input-group">
              <span class="input-group-addon">背景色</span>
              <input type="text" class="form-control"  name="bgcolor"  required placeholder="默认 red" value="<%=discount.bgcolor%>">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group input-group">
              <span class="input-group-addon">前景色</span>
              <input type="text" class="form-control"  name="fgcolor"  required placeholder="默认 white" value="<%=discount.fgcolor%>">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group input-group">
              <span class="input-group-addon">备注</span>
              <textarea name="comment" class="form-control" rows="4" cols="40"><%=discount.comment%></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group input-group">
              <span class="input-group-addon">购物车提示</span>
              <textarea name="prompt_text" class="form-control" rows="4" cols="40"><%=discount.prompt_text%></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group input-group">
              <span class="input-group-addon">优先级</span>
              <input type="text" class="form-control"  name="sort_num"  value="<%=discount.sort_num%>" placeholder="越小优先级越高">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">提交</button>
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
