<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>支付页面｜砍价活动｜召唤小伙伴帮忙砍价，超值商品等你拿。</title>
    <meta name="keywords" content="支付页面,砍价，商品，砍价商品，召唤，超值，超值商品，邀请好友，帮忙砍价"/>
    <meta name="description" content="商品的支付页面，参加砍价活动，快来喊伙伴一起来砍价，邀请的好友越多，越能买到便宜的商品喔。召唤小伙伴帮忙砍价，超值商品等你拿。"/>
    <link rel="dns-prefetch" href="//jpgw.anneijia.com">
    <link rel="dns-prefetch" href="<%=cdn_domain%>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link type="text/css" href="<%=cdn_domain%>/static/css/actvt/bargain/style.css?v=2" rel="stylesheet">
</head>

<body>
<input type="hidden" name="ordernum" id="ordernum" value="<%=bargain.ordernum%>">
<input type="hidden" name="body" id="body" value="砍价|<%=cmdt.name%>">
<input type="hidden" name="openid" id="openid" value="<%=bargain.initiator_openid%>">
<div class="shop_con">
    <div class="top_icon03">
        <p><img src="<%=cdn_domain%>/static/images/actvt/bargain/icon_01.png" alt="活动已发起"></p>
        <p>确认订单</p>
    </div>
    <div class="shop_box pay_box">
        <div>
            <div class="width_60">收件人名</div>
            <span>：<%=contact.name%></span></div>
        <div>
            <div class="width_60">电话码号</div>
            <span>：<%=contact.tel%></span></div>
        <div>
            <div class="width_60">具体地址</div>
            <span>：<%=contact.address%></span></div>
    </div>
    <div class="shop_box">
        <div class="shop_left"><img src="<%=cdn_domain%><%=cmdt.img%>" alt="<%=cmdt.name%>"></div>
        <div class="shop_right">
            <div class="shop_til"><%=cmdt.name%></div>
            <br>
            <div class="shop_price shop_listprice">
                <div class="width_60">实际支付</div>
                ¥<%=bargain.real_price%>
            </div>
        </div>
    </div>
    <div class="shop_box">
        <button class="shopsub_btn" id="btn_buy">确认支付</button>
    </div>
</div>
<script type='text/javascript' src='<%=cdn_domain%>/static/js/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='<%=cdn_domain%>/static/js/sm/sm.min.js' charset='utf-8'></script>
<script type="text/javascript" language="javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type='text/javascript'>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
        WeixinJSBridge.call('hideOptionMenu');
        $("#btn_buy").click(function () {
            // if ($('#openid').val()!='osBb-jgzYqcdeFi25d2psVk91d4w') {
            //   alert('因系统漏洞，暂时不能支付，请一小时后尝试，给您带来的不便，我们非常抱歉!');
            //   return;
            // }

            try {
                $.post("/paypages/pay/bargain", {
                    ordernum: $("#ordernum").val(),
                    orderdesc: '',
                    body: $("#body").val(),
                    type: 'bargain',
                    openid: $('#openid').val()
                }, function (res) {
                    if (res.errno == 1) {
                        alert("已支付订单");
                        window.location.href = "/actvt/crowdfunding/";
                    }
                    else if (res.errno > 0) {
                        //alert("支付失败，请刷新页面后重新尝试...");
                        alert(res.errmsg);
                    }
                    else if (res.errno == 0) {
                        var top_res = res;
                        WeixinJSBridge.invoke('getBrandWCPayRequest', {
                            "appId": res.data.payparam.appid, //公众号名称，由商户传入
                            "timeStamp": res.data.payparam.timeStamp, //时间戳
                            "nonceStr": res.data.payparam.nonceStr, //随机串
                            "package": res.data.payparam.package, //扩展包
                            "signType": res.data.payparam.signType, //微信签名方式:1.sha1
                            "paySign": res.data.payparam.paySign //微信签名
                        }, function (res) {
                            if (res.err_msg == "get_brand_wcpay_request:ok") {
                                window.location.href = "/actvt/bargain/payok?bargain_id=<%=bargain.id%>";
                            }
                            else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                            }
                            else // get_brand_wcpay_request:fail　发送失败
                            {
                                //alert(JSON.stringify(res));
                                alert(JSON.stringify(top_res.data.payparam));
                                //alert("支付失败!请刷新后尝试重新支付或重新下单!");
                            }
                        });
                    }
                    else {
                    }
                }, "json")
            } catch (e) {
                alert(JSON.stringify(e));
            }
        })
    });
</script>
</body>
</html>
