<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>支付成功｜北海道土産探検隊</title>
    <link rel="dns-prefetch" href="<%=cdn_domain%>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="支付成功,日本,购物,日货,彩妆,北海道土産探検隊"/>
    <meta name="description" content="支付成功页面，更多正品日货尽在北海道土産探検隊"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <link rel="shortcut icon" href="<%=cdn_differ_domain%>/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <%include ../common_css_resource.html%>
</head>
<body>
<div class="page-group">
    <div id="page-action" class="page page-current">
        <nav class="bar bar-tab">
            <a class="tab-item external" href="/">
                <span class="icon iconfont">&#xe601;</span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="/cmdt/list/all">
                <span class="icon iconfont">&#xe63a;</span>
                <span class="tab-label">分类</span>
            </a>
            <a class="tab-item external" href="/actvt/crowdfunding/index">
                <span class="icon iconfont">&#xe626;</span>
                <span class="tab-label">活动专区</span>
            </a>

            <a class="tab-item external" href="/cmdt/shopcart/index">
                <span class="icon iconfont">&#xe603;</span>
                <span class="tab-label">购物车</span>
            </a>
            <a class="tab-item external" href="/user/order/index">
                <span class="icon iconfont">&#xe604;</span>
                <span class="tab-label">我的</span>
            </a>
        </nav>
        <div class="content">
            <!--satrt ok con-->
            <div class="ok_con">
                <div class="ok_box">
                    <span class="icon iconfont green">&#xe628;</span>
                    <p class="ok_text green">支付成功</p>
                    <div class="pt_1"><a href="/user/order/tosent" class="shop_grey">查看订单</a> <a href="/">返回首页</a></div>
                </div>
            </div>
            <!--end ok con-->
        </div>
    </div>
</div>
</body>
</html>
