<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">新增图片</h4>
    </div>
    <form role="form" method="post" action="/cmdt/cmdt/add_pic" enctype="multipart/form-data" onsubmit="return ajax.submit(this,reload_pic_partial)">
      <input type="hidden" name="id" value="<%=id%>">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group input-group">
              <span class="input-group-addon">选择图片</span>
              <input type="file" class="form-control"  name="pic_url" placeholder="必填"  accept="image/jpeg,image/png,image/bmp,image/gif"   required>
            </div>
          </div>

        </div>



      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">提交</button>
      </div>
    </form>
  </div>
</div>
