<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改</h4>
        </div>
        <form role="form" method="post" action="/cmdt/counter/update"
              onsubmit="return ajax.submit(this,__hideAndSearch)">
            <input type="hidden" name="id" value="<%=counter.id%>"/>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>名称</label>
                            <input type="text" class="form-control" name="name" value="<%=counter.name%>"
                                   placeholder="必填" required>
                        </div>

                        <div class="form-group">
                            <label>当前图片</label>
                            <img src="<%=cdn_differ_domain%><%=counter.adv_imgurl%>" style="width:100px" alt="">
                        </div>

                        <div class="form-group">
                            <label>选择图片 <span class="text-info">不修改则不选</span></label>
                            <input type="file" name="adv_imgurl" accept="image/jpeg,image/png,image/bmp,image/gif">
                        </div>

                        <div class="form-group">
                            <label>排序号</label>
                            <input type="number" name="sort_num" class="form-control" value="<%=counter.sort_num%>">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="deleted" <%=(counter.deleted?"checked='checked'":"")%> >
                                已删除
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">提交</button>
            </div>
        </form>
    </div>
</div>
