<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="search()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">新增</h4>
    </div>
    <form role="form" method="post" action="/cmdt/zone/insert" onsubmit="return ajax.submit(this,__hideAndSearch)">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3" style="border-right:1px solid #eee">
            <div class="form-group">
              <label >名称</label>
              <input type="text" class="form-control"  name="name" placeholder="必填" required>
            </div>

            <div class="form-group">
              <label >码</label>
              <input type="text" class="form-control"  name="code" placeholder="必填" required>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="deleted"> 已删除
              </label>
            </div>

            <label >已选sku</label>
          </div>
          <div class="col-xs-9">
            <div class="form-group">
              <p>选择sku</p>

              <div>
                <!--条件区域-->
                <div class="form-inline">
                  <div class="input-group">
                    <span class="input-group-addon">名称</span>
                    <input type="text" class="form-control input-sm"  id="insert_sku_name">
                  </div>
                  <input class="btn btn-default btn-sm" type="button" value="搜索" onclick="search_sku()">
                </div>
                <!--图片容器-->
                <div class="imgselect-imgwraper" id="__sku-imgwraper">
                  <p style="margin-top:20px;text-align:center;color:darkgray">请搜索sku</p>
                </div>
                <!--分页区-->
                <div class="imgselect-paginationwraper pull-right">
                    <nav >
                      <ul class="pagination pagination-sm" id="__sku_paginationul">

                      </ul>
                    </nav>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">提交</button>
      </div>
    </form>
  </div>
</div>
