<div class="box-body">
  <table id="dt1" class="table table-bordered table-hover">
    <thead>
      <tr data-order="<%=order%>">
        <th data-field="name" onclick="order(this)">名称</th>
        <th data-field="code" onclick="order(this)">码</th>
        <th data-field="deleted" onclick="order(this)">已删除</th>
        <th >操作</th>
      </tr>
    </thead>
    <% var i=0;%>
    <tbody>
      <%zones.forEach(function(item){%>
        <tr>
          <td><%=item.name%> </td>
          <td><%=item.code%> </td>
          <td>
          <%if(item.deleted){%>
            <i class="fa fa-check"></i>
            <%}%>
          </td>
          <td>
            <a href="javascript:$.ajaxModal('/cmdt/zone/update',{id:'<%=item.id%>'})">修改</a>
            <span class="explode">|</span>
            <a href="javascript:$.ajaxModal('/cmdt/zone/delete',{id:'<%=item.id%>'})" class="text-danger">删除</a>
          </td>
        </tr>
        <%})%>

      </tbody>

    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    <div class="pull-left">

    </div>
    <div class="pull-right">
      <%include ../pagination.html%>
    </div>
  </div>
