<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>退款单</title>
    <link rel="dns-prefetch" href="">
    <link rel="dns-prefetch" href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="日本,购物,日货,彩妆"/>
    <meta name="description" content="札幌药妆"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="<%=cdn_differ_domain%>/static/css/site.css">
</head>
<body>
<div class="warp">
    <%var nav_active_index='me';%>
    <%include ../index_nav.html%>
    <!--start content-->
    <div class="content">
        <div class="my_box">
            <!--start buttons-tab-->
            <div class="tab_link">
                <a href="/user/order/unpayment">待付款</a>
                <a href="/user/order/tosent">待发货</a>
                <a href="/user/order/hassent">已发货</a>
                <a class="active" href="/user/order/returned">退款单</a>
            </div>
            <!--end buttons-tab-->
            <!--start my_con 1-->
            <%order.forEach(function(item){%>
            <div class="my_con">
                <dl>
                    <dt>订单编号：<%=item.order_num%></dt>
                    <dd><%=item.createdat%></dd>
                </dl>

                <div class="box_con">
                    <div class="box_img"><img src="static/img/box_01.jpg"></div>
                    <div class="box_text">
                        <dl>
                            <dt>2kg箱子</dt>
                            <dd></dd>
                        </dl>
                        <dl>
                            <dt>购物箱自重</dt>
                            <dd>100g</dd>
                        </dl>
                        <dl>
                            <dt>直邮运费</dt>
                            <dd class="yellow">69元</dd>
                        </dl>
                    </div>
                </div>
                <%item.cmdts.forEach(function(cmdt){%>
                <a href="shoplist.html">
                    <table class="my_shop_tab">
                        <tr>
                            <th rowspan="3" class="shop_img">
                                <img src="<%=cdn_differ_domain%><%=cmdt.pic_url?cmdt.pic_url.split(',')[0]:'/static/images/none.jpg'%>"
                                     onclick="location='/cmdt/detail/index?channel_id=<%=cmdt.sc_id%>&cmdt_id=<%=cmdt.cmdt_id%>&sku_id=<%=cmdt.sku_id%>'">
                            </th>
                            <td colspan="2" class="shop_til light_black"
                                onclick="location='/cmdt/detail/index?cmdt_id=<%=cmdt.cmdt_id%>&sku_id=<%=cmdt.sku_id%>'">
                                <%=cmdt.cmdt_name%>&nbsp;<%=cmdt.name%>
                            </td>
                        </tr>
                        <tr>
                            <td>价格：<span class="yellow"><%=cmdt.single_price%>円 (<%=cmdt.rmb_price%>元)</span></td>
                            <td class="text_r">X <%=cmdt.amount%>件</td>
                        </tr>
                        <tr>
                            <td>重量：<%=cmdt.weight%>g</td>
                        </tr>
                    </table>
                </a>
                <%})%>
                <div class="shop_text">支付金额：<%=item.rmb_should_pay_money%>元 退款金额：<span
                        class="yellow">1564.60元</span><br>
                    <%if(!item.is_approved){%>
                    <span class="yellow">已申请退款，审核中</span>
                    <%}%>
                    <%if(item.is_approved&&!item.is_returned){%>
                    <span class="yellow">审核通过，稍后将会退款</span>
                    <%}%>
                    <%if(item.is_returned){%>
                    <span sclass="yellow">退款成功</span>
                    <%}%>
                </div>

            </div>
            <!--end my_con 1-->
            <%})%>


            <%if(order.length==0){%>
            <div class="my_con">
                <div class="no_info">
                    <span class="iconfont">&#xe62e;</span><br>
                    <span>没有找到相关订单<br>去商场看看吧</span>
                </div>
                <%}%>
            </div>
        </div>
        <!--end content-->
    </div>
</body>
</html>
