<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="search()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">新增用户信息</h4>
    </div>
    <form role="form" method="post" action="/system/staff/insert" onsubmit="return ajax.submit(this,__hideAndSearch)">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3" style="border-right:1px solid #eee">
            <div class="form-group">
              <label for="add_staff_name">名称</label>
              <input type="text" class="form-control"  name="name" placeholder="必填" required>
            </div>

            <div class="form-group">
              <label for="add_staff_pwd">密码</label>
              <input type="password" class="form-control" name="password" placeholder="必填" required>
            </div>

            <div class="form-group">
              <label for="add_usergroup">用户组</label>
              <select class="form-control" name="usergroup_id" >
                <%usergroups.forEach(function(item){%>
                  <option value="<%=item.id%>"><%=item.name%></option>
                <%})%>
              </select>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="is_admin"> 是管理员
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="deleted"> 已删除
              </label>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="form-group">
              <p>选择头像</p>
              <% locals.imgselect_box_type='radio' %>
              <% include ../imgselect.html %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">提交</button>
      </div>
    </form>
  </div>
</div>
