<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">删除</h4>
    </div>
    <form role="form" method="post" action="/data/photo/delete"  onsubmit="return ajax.submit(this,__hideAndSearch)">
      <input type="hidden" name="id"  value="<%=id%>" >
      <div class="modal-body">
        <h1>确定要删除吗?</h1>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger">删除</button>
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
